.open {
  mix-blend-mode: difference;
  color: aliceblue;
  animation: open-div .4s forwards;
}

@keyframes open-div {
  0% {
    width: 100vw;
    clip-path: circle(0% at 0 0);
  }
  5% {
    width: 100vw;
    clip-path: circle(7.07% at 0 0);
  }
  10% {
    width: 100vw;
    clip-path: circle(14.14% at 0 0);
  }
  15% {
    width: 100vw;
    clip-path: circle(21.21% at 0 0);
  }
  20% {
    width: 100vw;
    clip-path: circle(28.28% at 0 0);
  }
  25% {
    width: 100vw;
    clip-path: circle(35.35% at 0 0);
  }
  30% {
    width: 100vw;
    clip-path: circle(42.42% at 0 0);
  }
  35% {
    width: 100vw;
    clip-path: circle(49.49% at 0 0);
  }
  40% {
    width: 100vw;
    clip-path: circle(56.56% at 0 0);
  }
  45% {
    width: 100vw;
    clip-path: circle(63.63% at 0 0);
  }
  50% {
    width: 100vw;
    clip-path: circle(70.7% at 0 0);
  }
  55% {
    width: 100vw;
    clip-path: circle(77.77% at 0 0);
  }
  60% {
    width: 100vw;
    clip-path: circle(84.84% at 0 0);
  }
  65% {
    width: 100vw;
    clip-path: circle(91.91% at 0 0);
  }
  70% {
    width: 100vw;
    clip-path: circle(98.98% at 0 0);
  }
  75% {
    width: 100vw;
    clip-path: circle(106.5% at 0 0);
  }
  80% {
    width: 100vw;
    clip-path: circle(113.12% at 0 0);
  }
  85% {
    width: 100vw;
    clip-path: circle(120.19% at 0 0);
  }

  90% {
    width: 100vw;
    clip-path: circle(127.26% at 0 0);
  }
  95% {
    width: 100vw;
    clip-path: circle(134.33% at 0 0);
  }

  100% {
    width: 100vw;
    clip-path: circle(141.4% at 0 0);
  }
}

.close {
  mix-blend-mode: difference;
  color: aliceblue;
  opacity: 0;
  transition: all 1s;
  /* animation: close-div .3s forwards; */
}

@keyframes close-div {
  0% {
    width: 100vw;
    clip-path: circle(141.4% at 0 0);
  }
  5% {
    width: 100vw;
    clip-path: circle(134.33% at 0 0);
  }
  10% {
    width: 100vw;
    clip-path: circle(127.26% at 0 0);
  }
  15% {
    width: 100vw;
    clip-path: circle(120.19% at 0 0);
  }
  20% {
    width: 100vw;
    clip-path: circle(113.12% at 0 0);
  }
  25% {
    width: 100vw;
    clip-path: circle(106.5% at 0 0);
  }
  30% {
    width: 100vw;
    clip-path: circle(98.98% at 0 0);
  }
  35% {
    width: 100vw;
    clip-path: circle(91.91% at 0 0);
  }
  40% {
    width: 100vw;
    clip-path: circle(84.84% at 0 0);
  }
  45% {
    width: 100vw;
    clip-path: circle(77.77% at 0 0);
  }

  50% {
    width: 100vw;
    clip-path: circle(70.7% at 0 0);
  }

  55% {
    width: 100vw;
    clip-path: circle(63.63% at 0 0);
  }

  60% {
    width: 100vw;
    clip-path: circle(56.56% at 0 0);
  }
  65% {
    width: 100vw;
    clip-path: circle(49.49% at 0 0);
  }
  70% {
    width: 100vw;
    clip-path: circle(42.42% at 0 0);
  }
  75% {
    width: 100vw;
    clip-path: circle(35.35% at 0 0);
  }
  80% {
    width: 100vw;
    clip-path: circle(28.28% at 0 0);
  }
  85% {
    width: 100vw;
    clip-path: circle(21.21% at 0 0);
  }
  90% {
    width: 100vw;
    clip-path: circle(14.14% at 0 0);
  }
  95% {
    width: 100vw;
    clip-path: circle(7.07% at 0 0);
  }
  100% {
    width: 100vw;
    clip-path: circle(0% at 0 0);
  }
}

.openHeaderMatch {
  mix-blend-mode: difference;
  color: aliceblue;
  animation: open-div .4s forwards;
}

@keyframes open-div {
  0% {
    width: 100vw;
    clip-path: circle(0% at 0 0);
  }
  5% {
    width: 100vw;
    clip-path: circle(7.07% at 0 0);
  }
  10% {
    width: 100vw;
    clip-path: circle(14.14% at 0 0);
  }
  15% {
    width: 100vw;
    clip-path: circle(21.21% at 0 0);
  }
  20% {
    width: 100vw;
    clip-path: circle(28.28% at 0 0);
  }
  25% {
    width: 100vw;
    clip-path: circle(35.35% at 0 0);
  }
  30% {
    width: 100vw;
    clip-path: circle(42.42% at 0 0);
  }
  35% {
    width: 100vw;
    clip-path: circle(49.49% at 0 0);
  }
  40% {
    width: 100vw;
    clip-path: circle(56.56% at 0 0);
  }
  45% {
    width: 100vw;
    clip-path: circle(63.63% at 0 0);
  }
  50% {
    width: 100vw;
    clip-path: circle(70.7% at 0 0);
  }
  55% {
    width: 100vw;
    clip-path: circle(77.77% at 0 0);
  }
  60% {
    width: 100vw;
    clip-path: circle(84.84% at 0 0);
  }
  65% {
    width: 100vw;
    clip-path: circle(91.91% at 0 0);
  }
  70% {
    width: 100vw;
    clip-path: circle(98.98% at 0 0);
  }
  75% {
    width: 100vw;
    clip-path: circle(106.5% at 0 0);
  }
  80% {
    width: 100vw;
    clip-path: circle(113.12% at 0 0);
  }
  85% {
    width: 100vw;
    clip-path: circle(120.19% at 0 0);
  }

  90% {
    width: 100vw;
    clip-path: circle(127.26% at 0 0);
  }
  95% {
    width: 100vw;
    clip-path: circle(134.33% at 0 0);
  }

  100% {
    width: 100vw;
    clip-path: circle(141.4% at 0 0);
  }
}

.closeHeaderMatch {
  mix-blend-mode: difference;
  color: aliceblue;
  opacity: 0;
  transition: all 1s;
  /* animation: close-div .3s forwards; */
}

@keyframes close-div {
  0% {
    width: 100vw;
    clip-path: circle(141.4% at 0 0);
  }
  5% {
    width: 100vw;
    clip-path: circle(134.33% at 0 0);
  }
  10% {
    width: 100vw;
    clip-path: circle(127.26% at 0 0);
  }
  15% {
    width: 100vw;
    clip-path: circle(120.19% at 0 0);
  }
  20% {
    width: 100vw;
    clip-path: circle(113.12% at 0 0);
  }
  25% {
    width: 100vw;
    clip-path: circle(106.5% at 0 0);
  }
  30% {
    width: 100vw;
    clip-path: circle(98.98% at 0 0);
  }
  35% {
    width: 100vw;
    clip-path: circle(91.91% at 0 0);
  }
  40% {
    width: 100vw;
    clip-path: circle(84.84% at 0 0);
  }
  45% {
    width: 100vw;
    clip-path: circle(77.77% at 0 0);
  }

  50% {
    width: 100vw;
    clip-path: circle(70.7% at 0 0);
  }

  55% {
    width: 100vw;
    clip-path: circle(63.63% at 0 0);
  }

  60% {
    width: 100vw;
    clip-path: circle(56.56% at 0 0);
  }
  65% {
    width: 100vw;
    clip-path: circle(49.49% at 0 0);
  }
  70% {
    width: 100vw;
    clip-path: circle(42.42% at 0 0);
  }
  75% {
    width: 100vw;
    clip-path: circle(35.35% at 0 0);
  }
  80% {
    width: 100vw;
    clip-path: circle(28.28% at 0 0);
  }
  85% {
    width: 100vw;
    clip-path: circle(21.21% at 0 0);
  }
  90% {
    width: 100vw;
    clip-path: circle(14.14% at 0 0);
  }
  95% {
    width: 100vw;
    clip-path: circle(7.07% at 0 0);
  }
  100% {
    width: 100vw;
    clip-path: circle(0% at 0 0);
  }
}

.notscroll::-webkit-scrollbar {
  width: 0px;
}

.notscroll::-webkit-scrollbar-thumb {
  background-color: rgb(207, 207, 207);
  border-radius: 100px;
  height: 0%;
  width: 0;
}

